/********************************************** FEUILLE DE STYLE DE L'INDEX ********************************************************************/

body
{
    margin: 0;
    background: url(./black-friday-elements-assortment.jpg);
    background-size: 100%;
    background-position-y: center;
} 

/* NAVBAR */
#navBar{
    width:100%;
    height:10vh;
    background-color:blanchedalmond;
}

#navBar__previous{
    width:max-content;
    padding: 3vh 0 3vh 10vh;
}

#navBar__previous p{
    margin:0;
}

#navBar__previous a{
    font-size:1em;
    font-family: "Quicksand", sans-serif;
    color:rgb(85, 85, 85);
}

#navBar__previous:hover{
    transform: scale(1.3);
}

/* TITRE */
h1{
  text-align: center;
  color:rgb(85, 85, 85);
  font-family: "Quicksand", sans-serif;
  font-size: 1.8em;
  font-weight: 400;
}

/* CONTENEUR DU FORMULAIRE */

#form__wrapper{
  display: flex;
  justify-content: center;
}

/* CONTENEUR DU CONTENU DE LA PAGE ("CARD") */

#mainContent__wrapper{
  width:15%;
  background-color: rgb(141, 199, 181, 0.81);
  border:1px solid black;
  border-radius: 30px;
  padding:10px;
  margin:50px auto 50px auto;
}

/* PARAGRAPHES */

p{
  font-size: 1em;
  padding:10px;
  text-align: center;
  font-family: "Quicksand", sans-serif;
}

/* BOUTON AJOUTER */
#boutonAjouter{
  border-radius:20px;
  height:4vh;
  border: solid rgb(166, 224, 84) 1px;
  font-weight: 700;
  color:white;
  background-color:rgb(166, 224, 84);
}

#boutonAjouter:hover{
  transform: scale(1.2);
  cursor: pointer;
  }


/* CHAMPS DU FORMULAIRE */
.champsFormulaire{
  border-radius: 20px;
  height:2vh;
} 


/* FOOTER */

footer{
    position:absolute;
    bottom:0;
    height:20vh;
    width:100%;
    background-color:blanchedalmond;
}
